<style>
.ul {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 15px;
  align-items: end;
  justify-items: start;
  }

.li {
  height: 40vh;
  flex-grow: 2;
  display: inline;
  vertical-align: bottom;
}
.img {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
  border: none;
  border-radius: 0;
  box-shadow: none  rgba(0,0,0,0.3);
  max-width: 100%;
}
</style>
<ul class="ul">
  {% for image in site.photo_gallery %}
    <li class="li"><img class="img" src="{{ image.image_path }}" alt="{{ image.title}}"/></li>
  {% endfor %}
</ul>